/*
Description: Réplique du site internet Soledad avec Bootstrap 
Auteurs : Benoit LAURENT // Déborah DELCOURT
Contact : benoit.jacques.felix@gmail.com // deborah.delcourt@free.fr
Url: https://github.com/RQMplays/ // https://github.com/Lilith-93/
*/

/*
TABLE DES MATIERES :
General Design
Nav Bar
Header
Slider
Articles
Paginations
Widgets
Footer
*/
/* -- General Design -- */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

/* -- Nav Bar -- */
.menu {
	position: fixed;
	top: 0px;
	line-height: 40px;
	background: #323232;
	box-shadow: -2px -0px 3px white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "PlayfairDisplay-Black";
	letter-spacing: 2px;
    z-index: 100;
}
.menu a{
	color: grey;
	text-decoration: none;
}
.menu a:hover{
	color: white;
	text-decoration: underline white;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.menu i {
margin-left: 100px;
}
/* -- Header -- */
header {
	padding-top: 70px;
	text-align: center;
	background: #f5f5f5;
}

b{
	display: inline-block;
	margin: 20px 0px 50px 0px;
	font-family: "Lato.otf";
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
b::before, b::after{
	position: relative;
	display: inline-block;
	height: 1px;
	width: 60px;
	margin: 0px 10px 4px 10px;
	content: '';
	background-color: #dedede;
}
/* -- Slider -- */
.carou {
	width: 100%;
	display: flex;
	background: url('../../img/mom-daughter.jpg') center no-repeat;
	height: 800px;
}

.pan {
	width: 650px;
	height: 230px;
	margin: auto;
	background: white;
	color: #dedede;
}

.bor {
	width: 630px;
	height: 210px;
	margin: 10px;
	border: 1px solid #dedede;
}

.dates {
	width: 150px;
	margin: auto;
	margin-top: -20px;
	padding: 10px 0px 10px 0px;
	background: #323232;
	color: white;
	text-align: center;
	text-transform: uppercase;
}

.lien {
	padding-top: 35px;
	margin: auto;
	color: #a60606;
	text-align: center;
	text-transform: uppercase;
}
.lien a {
	color: #a60606;
}

.losange {
    display: inline-block;
    border: 1px solid #a60505;
    font-size: 12px;
    position: relative;
    top: -2px;
    margin-left: 11px;
    margin-right: 11px;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.tenue {
	margin: auto;
	padding-top: 10px;
	color: #323232;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-family: "PlayfairDisplay", serif;
	font-size: 35px;
}

.dern {
	margin-top: 15px;
	color: #989898; 
	text-align: center;
	font-size: 17px;
}

.author {
	font-style: italic; 
}
.author a {
	color: #323232;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.author a:hover {
	color: #a60606;
	text-decoration: none;
	transition: all 1s;
	-webkit-transition: all 1s;
}

/* -- Articles -- */
.container {
    padding: 0;
    margin-top: 60px;
}

[class*="col-"] {
    margin: 0;
    padding: 0;
}

.col-md-6 {
    margin: 0 15px 51px 15px;
    width: 570px;
    
}

.image {
    margin: 0;
    padding: 0;
    width: 570px;
    height: 380px;
    background-position: center;
    background-size: cover;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.image:hover {
    opacity: 0.75;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.mom2 {
    background-image: url('../../img/mom-daughter-2.jpg');
    
}

.closet {
    background-image: url('../../img/closet.jpg');
}

.styled2 {
    background-image: url('../../img/styled2.jpg');
}

.jean {
    background-image: url('../../img/jean.jpg');
}

.mom1 {
    background-image: url('../../img/mom-daughter.jpg');
}

.tattoo {
    background-image: url('../../img/tattoo.jpg');
}

.bag {
    background-image: url('../../img/bag.jpg');
}

.beauty {
    background-image: url('../../img/beauty.jpg');
}

.photography {
    background-image: url('../../img/photography.jpg');
}

.fashion {
    background-image: url('../../img/fashion.jpg');
}

.display-category {
    color: #a60505;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 12px;
}

.category {
    color: #a60505;
}

.category:hover {
    color: #a60505;
}

.losange {
    display: inline-block;
    border: 1px solid #a60505;
    font-size: 12px;
    position: relative;
    top: -2px;
    margin-left: 11px;
    margin-right: 11px;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

h2 {
    font-family: "PlayfairDisplay", serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.title {
    color: #313131;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.title:hover {
    color: #888888;
    text-decoration: none;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.post-meta {
    color: #888888;
    margin-top: 12px;
    margin-bottom: 17px;
    text-align: center;
}

.author {
    font-style: italic;
}

.author:after {
    content: "";
    width: 1px;
    height: 10px;
    background: #DEDEDE;
    margin: 0 11px 0 15px;
    display: inline-block;
}

.author > a {
    color: #313131;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.author > a:hover {
    color: #a60505;
    text-decoration: none;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.separation {
    display: block;
    background-color: #a60505;
    width: 60px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
}

p {
    margin-top: 34px;
    line-height: 28px;
}

.bottom {
    color: #313131;
    text-align: center;
    margin-top: 27px;
}

.share {
    display: inline-block;
    padding: 0 10px;
}

.share > a {
    color: #313131;
    margin-left: 10px;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.share > a:hover {
    color: #a60505;
    text-decoration: none;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.share > a:first-child {
    margin-left: 0;
}

.share::before {
    content: "";
    position: absolute;
    width: 37%;
    left: 0;
    height: 1px;
    background: #DEDEDE;
    bottom: 10px;    
}

.share::after {
    content: "";
    position: absolute;
    width: 37%;
    right: 0;
    height: 1px;
    background: #DEDEDE;
    bottom: 10px;    
}


/* -- Paginations -- */
.pagination {
    text-align: center;
}

.pagination > ul {
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

.pagination > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.pagination > ul > li:last-child {
    margin-right: 0;
}

li span {
    display: inline-block;
    color: #fff;
    background: #a60505;
    border: 1px solid #a60505;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
}

li a {
    display: inline-block;
    color: #888;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    border: 1px solid #DEDEDE;
    padding: 0 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

li a:hover {
    color: #313131;
    border-color: #999;
    text-decoration: none;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.clear-footer {
    width: 100%;
    height: 1px;
    background-color: #DEDEDE;
    margin-top: 29px;
    clear: both;

}
/* -- Widgets -- */
.col-md-4 {
    width: 370px;
    margin: 0 15px;
}   

.col-md-4:first-child {
    margin-left: 0;
}

.col-md-4:last-child {
    margin-right: 0;
}

.widget-image {
    width: 370px;
    height: 260px;
    background-position: center;
    background-size: cover;
}

.about {
    background-image: url('../../img/about.jpg');
}

.miniature-img {
    display: block;
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.miniature-img:hover {
    opacity: 0.75;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.full-img {
    width: 370px;
    height: 370px;
    background-position: center;
    background-size: cover;
}

.man {
    background-image: url('../../img/man.jpg');
}

h3 {
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    font-size: 16px;
    color: #313131;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 35px;
    padding: 0 0 15px;
    border-bottom: 1px solid #313131;
}

h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 56px;
    left: 0;
    border: none;
    border-bottom: 1px solid #313131;
    height: auto;
}

h4 {
    display: inline-block;
    font-family: "PlayfairDisplay", serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 6px;
    margin-right: auto;
}

h4 > a {
    color: #313131;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

h4 > a:hover {
    color: #a60505;
    text-decoration: none;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.col-md-4 span {
    display: inline-block;
}

.col-md-4 > .col-md-12 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #DEDEDE;
}

.col-md-4 > .col-md-12:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}


/* -- Footer -- */
footer {
	background: #323232;
}

/* -- Instagram -- */
.insta {
	width:100%;
	text-align: center;
}

.img-responsive {
	padding: none;
	margin: none;
}

.image-insta {
	width: auto;
	height: auto;
	display: inline-block;
	position: relative;
	overflow: visible;
	padding: none;
	margin: none;
}
.image-insta .cadre {
	position: absolute;
	visibility: hidden;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	border: 1px solid white;
	opacity: 0;
}
.image-insta:hover .cadre {
	visibility: visible;
	z-index: 999;
	opacity: 1;
}

/*--barre social--*/
.soc {
	width: 1220px;
	padding: 20px 0px 20px 0px;
	margin: auto;
	border-bottom: 1px solid #dedede;
	text-transform: uppercase;
	font-family: 'lato';
	font-size: 20px;
	font-weight: bold;
	font-family: "PlayfairDisplay-Black";
	letter-spacing: 2px;
}
.soc a {
	color: #989898;
}
.soc a:hover {
	color: white;
	text-decoration: none;
}
.soc i {
	width: 20px;
	height: 20px; 
	border-radius: 100px;
	border: 1px solid;
	text-align: center;
}

/* -- Logo blanc --*/
.logo{
	margin-top: 30px;
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}

.copy {
	margin-top: 20px;
	color: white;
	font-style: italic;
}

/* -- Ancre -- */
.ancre a {
	color: #989898;
	text-transform: uppercase;
	font-weight: bold;
}
